@media (max-width: 75em) {
  .container {
    width: 90vw;
  }
  .hero-img {
    display: flex;
    width: 95%;
    align-items: center;
  }
  .latest {
    padding: 0.6rem;
    gap: 0.6rem;
  }

  .card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 48em) {
  .nav {
    padding: 1rem 0.5rem;
  }
  .nav-links a {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .logo {
    letter-spacing: normal;
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 0.5rem;
  }
  .latest {
    padding: 0;
    gap: 2rem;
    margin: 0;
  }
}

@media (max-width: 25em) {
  .latest {
    padding: 0;
    gap: 2rem;
    margin: 0;
  }
}
