@import url(./general.css);
@import url(./blogBost.css);
@import url(./queries.css);

header {
  width: 100vw;
  height: 10vh;
  overflow: hidden;
}
.nav {
  background-color: #355851;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 2.5rem; */
}
.logo {
  letter-spacing: normal;

  font-size: 2.2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 3px;
  color: #ccc;
}
/* HERRO SECTION */

.hero-section {
  /* background-color: rgb(213, 201, 224); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.hero-img {
  display: flex;

  align-items: center;
}
.latest {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

  gap: 2rem;
  margin-bottom: 100px;
}

/* .latest-card {
} */
.latest-img {
  width: 100%;
  height: 15rem;
  box-shadow: 4px 8px 12px #ddd;
  border-radius: 1rem;
  z-index: 3;
  position: relative;

  transition: all 0.4s ease-in;
}

.img {
  transition: all 0.4s ease-in;
  width: 100%;
  height: 100%;

  object-fit: cover;
  overflow: hidden;
}

.latest-img:hover .img {
  transform: scale(1.1);
}

button {
  color: #e2ea84;
  background-color: #13411d;
  position: absolute;
  z-index: 9999;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

/*  */
.recipe-food {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
  padding: 2rem;
  gap: 1rem;
}
.card {
  width: 100%;
  box-shadow: 4px 8px 12px #fffdfd;

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 30rem; */
  border: 1px solid #4f4e4e;
  border-radius: 1rem;
  gap: 1.4rem;
}
.image-container {
  border-radius: 1rem 1rem 0 0;
  height: 25rem;
  width: 100%;
}

.recipe-img {
  width: 100%;
  height: 100%;
  display: flex;

  overflow: hidden;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.date {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #05581f;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
}
.card-content {
  font-size: 1.3rem;
  padding: 0.4rem;
  line-height: 1.5;
  overflow: hidden;
  /* width: 20rem; */
  height: 100%;
  text-align: justify;
  text-overflow: ellipsis;
}
.card-link {
  font-weight: 500;
  font-size: 1.5rem;
  color: #0dc741;
  text-decoration: none;
}

.footer {
  padding: 1rem 0;
  background-color: #355851;
  width: 100%;
  margin-top: 3.1rem;
}
.coright {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 75em) {
  .container {
    width: 90vw;
  }
  .hero-img {
    display: flex;
    width: 95%;
    align-items: center;
  }
  .latest {
    padding: 0.6rem;
    gap: 2rem;
  }

  .card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 48em) {
  .nav {
    padding: 1rem 0.5rem;
  }
  .nav-links a {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  .logo h2 {
    letter-spacing: normal;
    font-size: 1.2rem;
    margin: 0;
  }

  .nav-links {
    gap: 0.5rem;
  }
  .latest {
    padding: 0;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 36em) {
  .coright {
    font-size: 1rem;
  }
  .hero-section {
    margin: 1rem;
  }
  button {
    left: 50%;
    font-size: 1rem;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  .latest {
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 23em) {
  .container {
    overflow: hidden;
  }

  .latest {
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .card-content {
    font-size: 0.9rem;
    text-align: justify;
  }
  h3 {
    font-size: 0.8rem;
  }
  .date {
    font-size: 1rem;
  }
  .card-link {
    font-size: 1rem;
  }
  .nav-links a {
    font-size: 0.8rem;
  }
  .logo h2 {
    font-size: 0.8rem;
  }
  .coright {
    font-size: 0.8rem;
  }
  button {
    left: 40%;
  }
}
